.App-header {
    background-color: #586d96;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.signInDiv {
    position: relative;
    left: 940px;
}

.signUpDiv {
    position: relative;
    left: 950px;
}
